
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



body
{
    background-image: url("../img/login_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.py-4
{
    margin-top: 50vh;               // poussé de la moitié de hauteur de viewport
    transform: translateY(-50%);    // tiré de 75% de sa propre hauteur
    color:  rgb(242, 242, 242);
}

.card
{
    background: rgba(147, 139, 138, 0.7);
}

.card-header
{
    text-align: center;
}

.btn
{
    background-color: rgb(108, 101, 100);
    border-color: #5f5958;
    color: rgb(242, 242, 242);
    font-size: 130%;
}

.form-control
{
    background-color: transparent;
    color: rgb(242, 242, 242);
} 

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(217, 217, 217);
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(217, 217, 217);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(217, 217, 217);
} 

.btn-login:hover
{
    background-color: #28a745;
    border-color: #22923d;
}