#pipboy{
    width: 70vw;
    height: 70vh;
}

.pipboy-content{
    position: absolute;
    width: 34vw;
    height: 37vh;
    top: 10.6vh;
    left: 21.5vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.pipboy-button-holder a img{
    z-index: 99;
    position: absolute;
    top: 54vh;
    width: 4.5vw;
    left: 31vw;
}

.pipboy-button-holder a:nth-child(2) img{
    left: 36vw;
}

.pipboy-button-holder a:nth-child(3) img{
    left: 41vw;
}